
#contenedor{
    height:100vh;
    border-radius: 25px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

#miformulario{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 71, 161,0.5);
    /* background-image: linear-gradient(180deg,#0d47a1,#1565c0,#1976d2, #1e88e5,#2196f3,#42a5f5,#64b5f6,#90caf9); */
    width: 400px;
    height: 500px;
    padding: 0px 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
}
.contenido{
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    
}
.contenido input[type ="text"]{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    border: none;
    outline:rgba(0, 0, 0, 0);
}
#edad{
    text-align: center;
    font:bold 20px sans-serif;
    border-radius: 20px;
    outline: rgba(0, 0, 0, 0);
    border: none;
    height: 40px;
    width: 100px;
}
#mensajeError{
    /* border: 2px solid red; */
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 20px;
    margin: 5px;
}

#enviar{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: aqua;
    border: none;
    outline:rgba(0, 0, 0, 0);
    font-size:20px;
    font-weight: bold;
}
#enviar:hover{
    cursor: pointer;
    background-color: #0d47a1;
    color: whitesmoke;
    box-shadow: rgb(0, 0, 0) 0px 0px 20px;
}
